<div id="container-exp">
	<div id="trial">
		<h1>Do your best to draw a copy of the image on the left in the box on the right!</h1>
		<p class="text-muted">Suggestions: Fill in dark regions as best you can and use dots or lines to do shading.</p>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-5">
					<div id="image"></div>
				</div>
				<div class="col-xs-5">
					<div id="editor"></div>
				</div>
				<div class="col-xs-1"></div>

			</div>
		</div>		

		<p>Click the green button when you are finished</p>

		<button type="button" id="Undo" value="next" class="btn btn-warning btn-lg" onclick="e">
        	Undo last
        </button>
		<button type="button" id="StartOver" value="next" class="btn btn-danger btn-lg">
        	Start over
        </button>

		<button type="button" id="Next" value="next" class="btn btn-success btn-lg">
        	I'm Done!
        </button>
		
	</div>
</div>




